*[class ~= "topic/topic"][class ~= "slide/slide"] {
    border: 1px solid #c6c6c6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25in;
    margin-bottom: 0.25in;
    min-height: 10cm;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 3em;
    padding-bottom: 5em;
    width: 21.59cm; 
}

/* speakernotes */
*[class ~= "topic/div"][class ~= "slide/speakernotes"] {
    border: 1px solid #c6c6c6;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.25in;
    margin-bottom: 0.25in;
    min-height: 10cm;
    padding-top: 2em;
    padding-right: 2em;
    padding-left: 3em;
    padding-bottom: 5em;
    width: 21.59cm; 
}
*[class ~= "topic/div"][class ~= "slide/speakernotes"]:before {
    content: "<speakernotes>";
}