@import "dita.css";

/*
 * No additional styling, just the dita basic rules.
 */
 
:root {
    line-height:1.2;
}

*[class~="topic/title"] {
    font-family: "Calibri", "UnDotum", sans-serif;
}

@media oxygen and (platform:webapp) {
    :root {
        line-height:1.55;
    }

    *[class~="topic/title"] {
        font-family: Georgia, Caladea, Cambria, serif;

        webkit-font-feature-settings: "lnum" 1;
        -moz-font-feature-settings: "lnum" 1;
        font-feature-settings: "lnum" 1;
    }
}
