/*
 * Slide Helper
 */

*[data-auto-animate]:before(297),
*[data-auto-animate-easing]:before(295),
*[data-autoslide]:before(293), 
*[data-transition]:before(291),
*[data-background]:before(289),
*[data-background-color]:before(287),
*[data-background-gradient]:before(285),
*[data-background-image]:before(283),
*[data-background-size]:before(281),
*[data-background-position]:before(279),
*[data-background-repeat]:before(277),
*[data-background-opacity]:before(275),
*[data-background-video]:before(273),
*[data-background-video-loop]:before(271),
*[data-background-video-muted]:before(269),
*[data-auto-animate-unmatched]:before(267),
*[style]:before(265),
*[data-auto-animate-id]:before(263) {
    padding-bottom: 3px;
    font-size: 0.8em;
    color: gray;
    display: block;
    padding-left: 10px;
    width: 740px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

/* @data-auto-animate */
*[data-auto-animate]:before(297) {
    content: "Activate the auto-animate mode.";
}

/* @data-auto-animate-easing */
*[data-auto-animate-easing]:before(295) {
    content: "The CSS easing";
}

/* @data-autoslide */
*[data-autoslide]:before(293) {
    content: "Autoslide function";
}

/* @data-transition */
*[data-transition]:before(291) {
    content: "Transition mode."
}

/* @data-transition */
*[data-background]:before(289) {
    content: "Transition mode."
}

/* @data-background-color */
*[data-background-color]:before(287) {
    content: "Background color."
}

/* @data-background-gradient */
*[data-background-gradient]:before(285) {
    content: "Background gradient."
}

/* @data-background-image */
*[data-background-image]:before(283) {
    content: "This is the path to a background image, relative to the DITA Map. Make sure to copy this image to the output folder by using the apropriate DITA-OT paramater."
}

/* @data-background-size */
*[data-background-size]:before(281) {
    content: "Background size."
}

/* @data-background-position */
*[data-background-position]:before(279) {
    content: "Background position."
}

/* @data-background-repeat */
*[data-background-repeat]:before(277) {
    content: "Background repeat."
}

/* @data-background-opacity */
*[data-background-opacity]:before(275) {
    content: "Background repeat."
}

/* @data-background-video */
*[data-background-video]:before(273) {
    content: "Background video."
}

/* @data-background-video-loop */
*[data-background-video-loop]:before(271) {
    content: "Background video loop."
}

/* @data-background-video-muted */
*[data-background-video-muted]:before(269) {
    content: "Background video mute."
}

/* @data-auto-animate-unmatched */
*[data-auto-animate-unmatched]:before(267) {
    content: "Auto animate unmatched."
}

/* @style */
*[style]:before(265) {
    content: oxy_label(text, "Add custom CSS properties.", styles, "margin: 0; font-weight: normal; font-size: 10pt; color: gray;", width, 10em);
}

/* @data-auto-animate-id */
*[data-auto-animate-id]:before(263) {
    content: oxy_label(text, "Add animation ID.", styles, "margin: 0; font-weight: normal; font-size: 10pt; color: gray;", width, 10em);

}