@import "dita.css";

/*
 * Topic and Map Titles.
 */
*[class ~= "map/map"][title]:before,
*[class ~= "map/map"] > *[class ~= "topic/title"],
*[class ~= "topic/topic"] > *[class ~= "topic/title"] {
    font-family: "Trebuchet MS", serif;
}
*[class ~= "topic/topic"] > *[class ~= "topic/title"]:empty {
    display: none;
}

/*
 * Plain content and topcirefs in the map.
 */
:root{
    font-family: "Calibri", "UnDotum", serif;
}


/* ============================================================
 * @style
 */
*[style] {
   -oxy-style:attr(style);
}


/* ============================================================
 * Block element border
 */
*[class~='slide/slide']:before(300),
*[class~='slide/slide-div']:before(300),
*[class~='slide/slide-p']:before(300) {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-top: 1px solid lightgray;
    width: 740px;
    padding-left: 10px;
}
*[class~='slide/slide'],
*[class~='slide/slide-div'],
*[class~='slide/slide-p'] {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 1px solid lightgray;
    width: 740px;
    padding-right: 10px;
    padding-left: 10px;
}
*[class~='slide/slide']:before,
*[class~='slide/slide-div']:before,
*[class~='slide/slide-p']:before {
    content: ' ';
    width: 750px;
    display: block;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
*[class~='slide/slide']:not(:last-child)
*[class~='slide/slide-div']:not(:last-child),
*[class~='slide/slide-p']:not(:last-child) {
    margin-bottom: 1.5em;
}


/* ============================================================
 * Attributes
 */
*[id]:before(299),
*[data-auto-animate]:before(298),
*[data-auto-animate-easing]:before(296),
*[data-autoslide]:before(294),
*[data-transition]:before(292),
*[data-background]:before(290),
*[data-background-color]:before(288),
*[data-background-gradient]:before(286),
*[data-background-image]:before(284),
*[data-background-size]:before(282),
*[data-background-position]:before(280),
*[data-background-repeat]:before(278),
*[data-background-opacity]:before(276),
*[data-background-video]:before(274),
*[data-background-video-loop]:before(272),
*[data-background-video-muted]:before(270),
*[data-auto-animate-unmatched]:before(268),
*[style]:before(266),
*[data-auto-animate-id]:before(264),
*[outputclass]:before(262),
*[data-trim]:before(260),
*[data-line-numbers]:before(258) {
    display: block;
    font-size: 10pt;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    width: 740px;
    padding-left: 10px;
}

/* @id */
*[id]:before(299) {
    content:
        oxy_label(text, "id", width, 20em, color, inherit)
        oxy_textfield(edit, '@id', columns, 40)
        oxy_button(action, oxy_action(
            name, 'Delete attribute', 
            icon, url('../../icons/delete.png'), 
            operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributesOperation', 
            arg-attributeNames, 'id'
            ), showIcon, true, transparent, true);
}

/* @data-auto-animate */
*[data-auto-animate]:before(298) {
    content:
        oxy_label(text, "data-auto-animate activated ✓", width, 20em, color, inherit);
}

/* @data-auto-animate-easing */
*[data-auto-animate-easing]:before(296) {
    content:
        oxy_label(text, "data-auto-animate-easing", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-auto-animate-easing', columns, 40);
}

/* @data-autoslide */
*[data-autoslide]:before(294) {
    content:
        oxy_label(text, "data-autoslide", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-autoslide', columns, 40);
}

/* @data-transition */
*[data-transition]:before(292) {
    content:
        oxy_label(text, "data-transition", width, 20em, color, inherit)
        oxy_combobox( 
            edit, '@data-transition',
            editable, true,
            columns, 40
        )
        oxy_button(action, oxy_action(
            name, 'Delete attribute', 
            icon, url('../../icons/delete.png'), 
            operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributesOperation', 
            arg-attributeNames, 'data-transition'
            ), showIcon, true, transparent, true);
}

/* @data-background */
*[data-background]:before(290) {
    content:
        oxy_label(text, "data-background", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-background', columns, 40);
}

/* @data-background-color */
*[data-background-color]:before(288) {
    content:
        oxy_label(text, "data-background-color", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-background-color', columns, 40);
}

/* @data-background-gradient */
*[data-background-gradient]:before(286) {
    content:
        oxy_label(text, "data-background-gradient", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-background-gradient', columns, 40);
}

/* @data-background-image */
*[data-background-image]:before(284) {
    content:
        oxy_label(text, "data-background-image", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-background-image', columns, 40);
}

/* @data-background-size */
*[data-background-size]:before(282) {
    content:
        oxy_label(text, "data-background-size", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-background-size', columns, 40);
}

/* @data-background-position */
*[data-background-position]:before(280) {
    content:
        oxy_label(text, "data-background-position", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-background-position', columns, 40);
}

/* @data-background-repeat */
*[data-background-repeat]:before(278) {
    content:
        oxy_label(text, "data-background-repeat", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-background-repeat', columns, 40);
}

/* @data-background-opacity */
*[data-background-opacity]:before(276) {
    content:
        oxy_label(text, "data-background-opacity", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-background-opacity', columns, 40);
}

/* @data-background-video */
*[data-background-video]:before(274) {
    content:
        oxy_label(text, "data-background-video", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-background-video', columns, 40);
}

/* @data-background-video-loop */
*[data-background-video-loop]:before(272) {
    content:
        oxy_label(text, "data-background-video-loop", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-background-video-loop', columns, 40);
}

/* @data-background-video-muted */
*[data-background-video-muted]:before(270) {
    content:
        oxy_label(text, "data-background-video-muted", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-background-video-muted', columns, 40);
}

/* @data-auto-animate-unmatched */
*[data-auto-animate-unmatched]:before(268) {
    content:
        oxy_label(text, "data-auto-animate-unmatched", width, 20em, color, inherit)
        oxy_textfield(edit, '@data-auto-animate-unmatched', columns, 40);
}

/* @style */
*[style]:before(266) {
    content:
        oxy_label(text, "style", styles, "font-weight: normal; font-size: 10pt; color: black;", width, 20em)
        oxy_textfield(edit, '@style', columns, 40);
}

/* @data-auto-animate-id */
*[data-auto-animate-id]:before(264) {
    content:
        oxy_label(text, "data-auto-animate-id", styles, "font-weight: normal; font-size: 10pt; color: black;", width, 20em)
        oxy_textfield(edit, '@data-auto-animate-id', columns, 40);
}

/* @outputclass */
*[outputclass]:before(262) {
    content:
        oxy_label(text, "outputclass", styles, "font-weight: normal; font-size: 10pt; color: black;", width, 20em)
        oxy_textfield(edit, '@outputclass', columns, 40)
        oxy_button(action, oxy_action(
            name, 'Delete attribute', 
            icon, url('../../icons/delete.png'), 
            operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributesOperation', 
            arg-attributeNames, 'outputclass'
            ), showIcon, true, transparent, true);
}

/* @data-trim */
*[data-trim]:before(260) {
    content:
        oxy_label(text, "data-trim activated ✓", width, 20em, color, inherit)
        oxy_button(action, oxy_action(
            name, 'Delete attribute', 
            icon, url('../../icons/delete.png'), 
            operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributesOperation', 
            arg-attributeNames, 'data-trim'
            ), showIcon, true, transparent, true);
}

/* @data-line-numbers */
*[data-line-numbers]:before(258) {
    content:
        oxy_label(text, "data-line-numbers activated ✓", width, 20em, color, inherit)
        oxy_button(action, oxy_action(
            name, 'Delete attribute', 
            icon, url('../../icons/delete.png'), 
            operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributesOperation', 
            arg-attributeNames, 'data-line-numbers'
            ), showIcon, true, transparent, true);
}

/* ============================================================
 * <slide>
 */

*[class~='slide/slide']:before(300) {
    content:
        oxy_buttonGroup(
            label, '<slide>',
            tooltip, 'Slide attributes change the appearance, behavior and transition of the slide.',
            actions,
                oxy_action_list(
                    oxy_action(
                        name, 'auto-animate', 
                        description, 'Activate auto-animate', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-auto-animate',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'auto-animate-id', 
                        description, 'Add auto-animate ID', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-auto-animate-id',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'auto-animate-easing', 
                        description, 'auto-animate-easing', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-auto-animate-easing',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'auto-slide', 
                        description, 'auto-slide', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-auto-slide',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'autoslide', 
                        description, 'autoslide', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-autoslide',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'transition', 
                        description, 'transition', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-transition',
                        arg-value, 'none'
                    ),
                    oxy_action(
                        name, 'background', 
                        description, 'background', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-background',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'background-color', 
                        description, 'background-color', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-background-color',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'background-gradient', 
                        description, 'background-gradient', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-background-gradient',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'background-image', 
                        description, 'background-image', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-background-image',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'background-size', 
                        description, 'background-size', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-background-size',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'background-position', 
                        description, 'background-position', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-background-position',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'background-repeat', 
                        description, 'background-repeat', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-background-repeat',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'background-opacity', 
                        description, 'background-opacity', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-background-opacity',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'background-video', 
                        description, 'background-video', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-background-video',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'background-video-loop', 
                        description, 'background-video-loop', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-background-video-loop',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'background-video-muted', 
                        description, 'background-video-muted', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-background-video-muted',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'style', 
                        description, 'style', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'style',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'Delete', 
                        description, 'Deletes the current element', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.DeleteElementOperation'
                    )
                )
        );
}


*[class~='topic/table'] {
    border: none !important;
    padding-top: 2px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 2px;
}

*[class~='topic/tgroup'] {
    display: table ;
    border: none;
}

*[class~='topic/thead'] {
}

*[class~='topic/thead'] > *[class~='topic/row'] > *[class~='topic/entry']:first-child {
    border-top-left-radius: 6px;
    border-left: transparent 1px solid;
    border-top: transparent 1px solid;
    background-color: pink;
}

*[class~='topic/thead'] > *[class~='topic/row'] > *[class~='topic/entry']:last-child {
    border-top-right-radius: 4px;
    border: #023A4F 1px solid;
}


/* ============================================================
 * <pre>
 */
*[class~='topic/pre']:before(300) {
    content:
        oxy_buttonGroup(
            label, '<pre>',
            tooltip, 'Preformatted text',
            actions,
                oxy_action_list(
                    oxy_action(
                        name, 'Delete', 
                        description, 'Deletes the current element', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.DeleteElementOperation'
                    )
                )
        );
    display: block;
}


/* ============================================================
 * <codeblock>
 */
*[class~='topic/pre'][class~='slide/slide-codeblock']:before(300) {
    content:
        oxy_buttonGroup(
            label, '<codeblock>',
            tooltip, 'Codeblock',
            actions,
                oxy_action_list(
                    oxy_action(
                        name, 'outputclass', 
                        description, 'outputclass', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'outputclass',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'data-trim', 
                        description, 'data-trim', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-trim',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'data-line-numbers', 
                        description, 'data-line-numbers', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'data-line-numbers',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'Delete', 
                        description, 'Deletes the current element', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.DeleteElementOperation'
                    )
                )
        );
    display: block;
}


/* ============================================================
 * <div>
 */
*[class~='topic/div'][class~='slide/slide-div']:before(300) {
    content:
        oxy_buttonGroup(
            label, '<div>',
            tooltip, 'Division',
            actions,
                oxy_action_list(
                    oxy_action(
                        name, 'outputclass', 
                        description, 'outputclass', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'outputclass',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'Delete', 
                        description, 'Deletes the current element', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.DeleteElementOperation'
                    )
                )
        );
}
*[class~='topic/div'][class~='slide/slide-div'] {
    display:-oxy-morph;
}


/* ============================================================
 * <p>
 */
*[class~='topic/p'][class~='slide/slide-p']:before(300) {
    content:
        oxy_buttonGroup(
            label, '<p>',
            tooltip, 'Paragraph',
            actions,
                oxy_action_list(
                    oxy_action(
                        name, 'outputclass', 
                        description, 'outputclass', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.ChangeAttributeOperation', 
                        arg-name, 'outputclass',
                        arg-value, ' '
                    ),
                    oxy_action(
                        name, 'Delete', 
                        description, 'Deletes the current element', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.DeleteElementOperation'
                    )
                )
        );
}


/* ============================================================
 * <h2>
 */
*[class~='topic/p'][class~='slide/slide-h2']:before(300) {
    content:
        oxy_buttonGroup(
            label, '<h2>',
            tooltip, 'Heading Level 2',
            actions,
                oxy_action_list(
                    oxy_action(
                        name, 'Delete', 
                        description, 'Deletes the current element', 
                        operation, 'ro.sync.ecss.extensions.commons.operations.DeleteElementOperation'
                    )
                )
        );
}
*[class~='topic/p'][class~='slide/slide-h2'] {
    font-size: 1.75em;
}